<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Table Page - Angie Well - Lab 3.1</title>
</head>
<body>
    <div class="main-container">
        <h1>Colors Page</h1>

        {{coltab colors}}
    </div>

   <!-- <h2>Hola</h2>
    {{clr}}
    <table class="rancoltab">
        <tbody>
            {{#each color}}
            <tr> 
                <td>
                    {{this}}
                   <br>
                   <span>{{this}}</span>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
        {{coltab color}}
-->
</body>
</html>